body{
	background-color: #212529;
}

a{
	color: #007bff;
}

.post{
	width: 500px;
	padding: 10px;
	border: 3px solid black;
	border-radius: 8px;
	margin: 30px;
	background-color: #2F3438;
}

.page_title{
	position: absolute;
	padding-left: 40px;
    	padding-top: 15px;
}

.description{
	width: 500px;
}

.post_image{
    	width: 500px;
}

.center{
	width: 586px;
  	position: absolute;
  	left: 50%;
  	margin-left: -288px;
  	background-color: #343a40;
  	color: #EFF5FA;
}

.detailed{
    	width: 500px;
    	text-align: center;
}
